@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
}

.menu li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}